@import "partials/custom";
@import "partials/card";
@import "partials/layout";
@import "partials/navbar";
@import "partials/productView";

body {
  background: $color-dark-tertiary;
  margin: 0;
  padding: 0;
}
