//Font Imports

//Colors
$color-text-primary: rgba(255, 255, 255, 0.96);
$color-text-secondary: rgba(255, 255, 255, 0.67);
$color-text-tertiary: rgba(255, 255, 255, 0.45);
$color-main-primary: #8439f9;
$color-main-secondary: #c651cd;
$color-main-tertiary: #363636;
$color-dark-primary: #100f10;
$color-dark-secondary: #1b1b1b;
$color-dark-tertiary: #242424;
