.container-details {
  display: flex;
  padding: 2rem;
  justify-content: center;
}
.product-image {
  max-height: 300px;
}

.details-content {
  color: $color-text-secondary;
  padding: 1rem;
  width: 30%;
}
